<!DOCTYPE html>
<html lang='en' ng-app='inventory'>
<head>
  <meta charset="utf-8">
  <title>Shopular</title>

  <link rel='stylesheet'href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href='style.css' rel='stylesheet'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <meta name='author' content='Jennifer Oakes'>
</head>
<body>

  <h1>Shopular Inventory</h1>

  <main ng-controller='InventoryController as inventoryCtrl'>
    <form name='additem'
          ng-submit='additem.$valid && inventoryCtrl.addItem(inventoryCtrl.newItem)'
          novalidate>
      <input
        type='text'
        placeholder='Name'
        required
        ng-model='inventoryCtrl.newItem.name'>
      <input
        type='number'
        placeholder='Price'
        min='0'
        required
        ng-model='inventoryCtrl.newItem.price'>
      <input
        type='number'
        placeholder='Quantity'
        min='0'
        required
        ng-model='inventoryCtrl.newItem.quantity'>
      <input
        type='text'
        placeholder='Color'
        required
        ng-model='inventoryCtrl.newItem.color'>
      <input
        type='number'
        placeholder='Discount'
        min='0'
        required
        ng-model='inventoryCtrl.newItem.discount'>
      <input
        type='submit'
        value='Add Item'>
    </form>


    <h2>Inventory List</h2>
    <table class='table table-striped col-lg-8'>
        <tbody>
        <tr>
          <thead>

          <th>
            <a href="#" ng-click="inventoryCtrl.sortType = 'name'; sortReverse = !sortReverse">
            Name
              <p ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></p>
              <p ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></p>
          </a>
          </th>
          <th>
            <a href="#" ng-click="inventoryCtrl.sortType = 'price'; sortReverse = !sortReverse">
            Price
              <p ng-show="sortType == 'price' && !sortReverse" class="fa fa-caret-down"></p>
              <p ng-show="sortType == 'price' && sortReverse" class="fa fa-caret-up"></p>
          </a>
          </th>
          <th>
            <a href="#" ng-click="inventoryCtrl.sortType = 'quantity'; sortReverse = !sortReverse">
            Quantity
              <p ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></p>
              <p ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></p>
          </a>
          </th>
          <th>Color</th>

          </thead>
        </tr>

        <tr ng-repeat='item in inventoryCtrl.inventory | orderBy:inventoryCtrl.sortType:sortReverse'>
          <td class='name'>{{item.name}}</td>
          <td>{{inventoryCtrl.getNewPrice(item) | currency:"$" }}
          <img ng-show='item.discount > 0 ' src='img/saleicon.png'>
          </td>
          <td>{{item.quantity}}</td>
          <td class='color'>{{item.color}}</td>
        </tr>
      </tbody>
    </table>
  </main>


  <footer>
    <p>Thanks for shopping by!</p>
  </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
  <script src='/js/inventory.module.js'></script>
  <script src='/js/inventory.controller.js'></script>

</body>
</html>
