<!DOCTYPE html>
<html lang='en' ng-app='shop'>
<head>
  <meta charset="utf-8">
  <title>Shopular</title>

  <link rel='stylesheet'href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link href='style.css' rel='stylesheet'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <meta name='author' content='Jennifer Oakes'>
</head>
<body>
  <header ng-controller='LoginController as loginCtrl'>
    <h1>Shopular</h1>
    <form name='loginform' ng-submit=' '>
      <input type='text' placeholder='Username'>
      <input class='btn' type='submit' value='Login'>
    </form>
    <p>{{}}</p>
    <button class='btn'>Logout</button>
  </header>

  <main ng-controller='InventoryController as inventoryCtrl'>
    <form name='additem'
          ng-submit='additem.$valid && inventoryCtrl.addItem(inventoryCtrl.newItem) && additem.$setUntouched()'
          novalidate>

      <p ng-show='additem.name.$touched && !additem.name.$valid'>Please enter an item name.</p>
      <p ng-show='additem.price.$touched && !additem.price.$valid'>Please enter an item price.</p>
      <p ng-show='additem.quantity.$touched && !additem.quantity.$valid'>Please enter an item quantity.</p>
      <p ng-show='additem.discount.$touched && !additem.discount.$valid'>Please enter an item discount.</p>

      <input
        type='text'
        placeholder='Name'
        required
        name='name'
        ng-model='inventoryCtrl.newItem.name'>
      <input
        type='number'
        placeholder='Price'
        min='0'
        required
        name='price'
        ng-model='inventoryCtrl.newItem.price'>
      <input
        type='number'
        placeholder='Quantity'
        min='0'
        required
        name='quantity'
        ng-model='inventoryCtrl.newItem.quantity'>
      <input
        type='text'
        placeholder='Color'
        name='color'
        ng-model='inventoryCtrl.newItem.color'>
      <input
        type='number'
        placeholder='Discount'
        min='0'
        required
        name='discount'
        ng-model='inventoryCtrl.newItem.discount'>
      <input
        type='submit'
        value='Add Item'>
    </form>

    <h2>Inventory List</h2>
    <table class='table table-striped col-lg-8'>
      <thead>
        <tr>
          <th ng-click='inventoryCtrl.changeSort("name")'>Name</th>
          <th ng-click='inventoryCtrl.changeSort("price")'>Price</th>
          <th ng-click='inventoryCtrl.changeSort("quantity")'>Quantity</th>
          <th>Color</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat='item in inventoryCtrl.inventory | orderBy:inventoryCtrl.sortType:inventoryCtrl.sortReverse'>
          <td class='name'>{{item.name}}</td>
          <td>{{inventoryCtrl.getNewPrice(item) | currency:"$" }}
            <img ng-show='item.discount > 0 ' src='img/saleicon.png'>
          </td>
          <td>{{item.quantity}}</td>
          <td class='color'>{{item.color}}</td>
        </tr>
      </tbody>
    </table>
  </main>

  <footer>
    <p>Thanks for shopping by!</p>
    <p>&copy; Shopular</p>
  </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
  <script src='/js/shop.module.js'></script>
  <script src='/js/inventory.controller.js'></script>
  <script src='/js/inventory.service.js'></script>
  <script src='/js/login.controller.js'></script>
  <script src='/js/login.service.js'></script>

</body>
</html>
